<mat-toolbar class="toolbar-header">
    <mat-toolbar-row>
      <button mat-stroked-button color="primary" [routerLink]="''">ShortUrl</button>    
      <span class="spacer"></span>
      <ng-container>
        <button mat-stroked-button  color="primary" [routerLink]="'/register'">Register</button>
        <button mat-stroked-button  color="primary" [routerLink]="'/login'">Log in</button>
        <button mat-stroked-button color="warn">Log out</button>
        <button mat-icon-button  aria-label="User Profile">
          <mat-icon>person</mat-icon>
        </button>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>