<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Your long link here</mat-card-title>      
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Long link</mat-label>
          <input matInput type="text-first" value="This text readonly first" readonly>
        </mat-form-field>
      </form>
    </mat-card-header>
    <mat-card-header>
        <mat-card-title> Your short link here</mat-card-title>      
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Short link</mat-label>
            <input matInput type="text-second" value="This text readonly second" readonly>
          </mat-form-field>
        </form>
      </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button>Shorten one more link</button>
    </mat-card-actions>
</mat-card>
  